<?xml version="1.0" ?>

<robot name="oparm" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- BGN - Include -->
  <xacro:include filename="$(find oparm_description)/urdf/links_joints.xacro" />
  <!-- END - Include -->
  
    <!-- BGN - Robot description -->
  <m_link_mesh name="oparm_base"
               origin_rpy="0 0 0" origin_xyz="0 0 0"
               mass="157.633"
               ixx="13.235" ixy="0" ixz="0"
               iyy="13.235" iyz="0"
               izz="9.655"
               meshfile="package://oparm_description/meshes/oparm_base.dae"
               meshscale="1 1 1" />
  
  <m_joint name="oparm_base_oparm_link01_joint" type="revolute"
           axis_xyz="0 0 1"
           origin_rpy="0 0 0.0" origin_xyz="0 0 0.0085"
           parent="oparm_base" child="oparm_link01"
           limit_e="30" limit_l="-3.14" limit_u="3.14" limit_v="1.571" />
           
  <m_link_mesh name="oparm_link01"
               origin_rpy="0 0 0" origin_xyz="0 0 0"
               mass="157.633"
               ixx="13.235" ixy="0" ixz="0"
               iyy="13.235" iyz="0"
               izz="9.655"
               meshfile="package://oparm_description/meshes/oparm_link01.dae"
               meshscale="1 1 1" />
  
  <m_joint name="oparm_link01_oparm_link02_joint" type="revolute"
           axis_xyz="1 0 0"
           origin_rpy="0 0 0.0" origin_xyz="0 0 0.06"
           parent="oparm_link01" child="oparm_link02"
           limit_e="30" limit_l="-1.744444444" limit_u="1.744444444" limit_v="1.571" />

  <m_link_mesh name="oparm_link02"
               origin_rpy="0 0 0" origin_xyz="0 0 0"
               mass="157.633"
               ixx="13.235" ixy="0" ixz="0"
               iyy="13.235" iyz="0"
               izz="9.655"
               meshfile="package://oparm_description/meshes/oparm_link02.dae"
               meshscale="1 1 1" />
  
  <m_joint name="oparm_link02_oparm_link03_joint" type="revolute"
           axis_xyz="1 0 0"
           origin_rpy="0 0 0.0" origin_xyz="0 0 0.215"
           parent="oparm_link02" child="oparm_link03"
           limit_e="30" limit_l="-2.267777778" limit_u="2.267777778" limit_v="1.571" />

  <m_link_mesh name="oparm_link03"
               origin_rpy="0 0 0" origin_xyz="0 0 0"
               mass="157.633"
               ixx="13.235" ixy="0" ixz="0"
               iyy="13.235" iyz="0"
               izz="9.655"
               meshfile="package://oparm_description/meshes/oparm_link03.dae"
               meshscale="1 1 1" />
  
  <m_joint name="oparm_link03_oparm_link04_joint" type="revolute"
           axis_xyz="0 0 1"
           origin_rpy="0 0 0.0" origin_xyz="0 0 0.085"
           parent="oparm_link03" child="oparm_link04"
           limit_e="30" limit_l="-3.14" limit_u="3.14" limit_v="1.571" />

  <m_link_mesh name="oparm_link04"
               origin_rpy="0 0 0" origin_xyz="0 0 0"
               mass="157.633"
               ixx="13.235" ixy="0" ixz="0"
               iyy="13.235" iyz="0"
               izz="9.655"
               meshfile="package://oparm_description/meshes/oparm_link04.dae"
               meshscale="1 1 1" />
  
  <m_joint name="oparm_link04_oparm_link05_joint" type="revolute"
           axis_xyz="1 0 0"
           origin_rpy="0 0 0.0" origin_xyz="0 0 0.0725"
           parent="oparm_link04" child="oparm_link05"
           limit_e="30" limit_l="-1.744444444" limit_u="1.744444444" limit_v="1.571" />

  <m_link_mesh name="oparm_link05"
               origin_rpy="0 0 0" origin_xyz="0 0 0"
               mass="157.633"
               ixx="13.235" ixy="0" ixz="0"
               iyy="13.235" iyz="0"
               izz="9.655"
               meshfile="package://oparm_description/meshes/oparm_link05.dae"
               meshscale="1 1 1" />
  
  <!-- END - Robot description -->

  <!--  base urdf description
  <link name="oparm_base">
    <visual>
      <origin xyz="0 0 0.00" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://oparm_description/meshes/oparm_base.dae"/>
        </geometry>
    </visual>
  </link>
   <joint name="oparm_base_oparm_link01_joint" type="revolute">
      <parent link="oparm_base"/>
      <child link="oparm_link01"/>
      <origin xyz="0 0 0.0085" rpy="0 0 0"/>
      <axis xyz="0 0 1"/>
      <limit effort="30" lower="-3.14" upper="3.14" velocity="1.571"/>
  </joint>

  <link name="oparm_link01">
      <visual>
          <origin xyz="0 0 0.0" rpy="0 0 0"/>
          <geometry>
              <mesh filename="package://oparm_description/meshes/oparm_link01.dae"/>
          </geometry>
      </visual>
  </link>
  <joint name="oparm_link01_oparm_link02_joint" type="revolute">
      <parent link="oparm_link01"/>
      <child link="oparm_link02"/>
      <origin xyz="0 0 0.06" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <limit effort="30" lower="-1.744444444" upper="1.744444444" velocity="1.571"/>
  </joint>

  <link name="oparm_link02">
      <visual>
          <origin xyz="0 0 0.0" rpy="0 0 0"/>
          <geometry>
              <mesh filename="package://oparm_description/meshes/oparm_link02.dae"/>
          </geometry>
      </visual>
  </link>

  <joint name="oparm_link02_oparm_link03_joint" type="revolute">
      <parent link="oparm_link02"/>
      <child link="oparm_link03"/>
      <origin xyz="0 0 0.215" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <limit effort="30" lower="-2.267777778" upper="2.267777778" velocity="1.571"/>
  </joint>

  <link name="oparm_link03">
      <visual>
          <origin xyz="0 0 0.0" rpy="0 0 0"/>
          <geometry>
              <mesh filename="package://oparm_description/meshes/oparm_link03.dae"/>
          </geometry>
      </visual>
  </link>

  <joint name="oparm_link03_oparm_link04_joint" type="revolute">
      <parent link="oparm_link03"/>
      <child link="oparm_link04"/>
      <origin xyz="0 0 0.085" rpy="0 0 0"/>
      <axis xyz="0 0 1"/>
      <limit effort="30" lower="-3.14" upper="3.14" velocity="1.571"/>
  </joint>

  <link name="oparm_link04">
      <visual>
          <origin xyz="0 0 0.0" rpy="0 0 0"/>
          <geometry>
              <mesh filename="package://oparm_description/meshes/oparm_link04.dae"/>
          </geometry>
      </visual>
  </link>

  <joint name="oparm_link04_oparm_link05_joint" type="revolute">
      <parent link="oparm_link04"/>
      <child link="oparm_link05"/>
      <origin xyz="0 0 0.0725" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <limit effort="30" lower="-1.744444444" upper="1.744444444" velocity="1.571"/>
  </joint>

  <link name="oparm_link05">
      <visual>
          <origin xyz="0 0 0.0" rpy="0 0 0"/>
          <geometry>
              <mesh filename="package://oparm_description/meshes/oparm_link05.dae"/>
          </geometry>
      </visual>
  </link>
  -->
</robot>